body {
  /* background-color: blue; */


}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: Arial, sans-serif;
  /* font-size: 12px; */
}

a:hover {
  text-decoration: underline;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;


}
.card {
  background-color: #800020;
  border: white 1px solid;
  border-radius: 10px;
  color: white;
  font-family: Calibri, Arial, sans-serif;
  padding: 20px;
  text-align: center;

}

.cardetails {
  background-color: #800020;
  border: white 1px solid;
  border-radius: 10px;
  color: white;
  font-family: Calibri, Arial, sans-serif;
  padding: 20px;
  width: 50%;
  margin: 0px auto;
  text-align: center;
}
